.ticker-header {
  position: absolute;
  left: -138px;
  top: -5px;
}
.ticker {
  height: 61px;
  position: fixed;
  width: 100svw;
  overflow: hidden;
}

.ticker-footer {
  position: fixed;
  bottom: 0px;
}
